@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  font-family: "Baloo bhai 2", sans-serif;
}
body {
  /* background: radial-gradient(657px 657px at 2% 90%, #92b6fc 0, #dcf1f600 40%),
    radial-gradient(642px 642px at 82% 115%, #b4cdff 0, #dcf1f600 25%),
    linear-gradient(-73.25deg, #dcf2f7 7.43%, #9accd5 94.82%); */
    background-color: #e9dcdc;
  font-family: "Baloo bhai 2";
}
section {
  min-height: 100vh;
  padding-top: 5rem;
  border-bottom: 2px solid #3448ff;
  justify-content: center;
}
/* -----------------nav-bar---------------- */
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(224 89% 75%);
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 2px solid rgb(127, 34, 232);
}
a > h1{
  text-decoration: none;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-weight: medium;
  /* width: 40%; */
}
#nav-bar > ul > li {
  padding: 0rem 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
div > ul > li > a {
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  /* color: #f56b1b; */
}
li ::after {
  content: " ";
  display: block;
  height: 5px;
  background-color: #3448ff;
  border-radius: 50px;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.75s ease;
}
a:hover::after {
  transform: scale(1);
}
/* -----------------hero-section---------------- */
.rightSection > img {
  width: 100%;
  object-fit: contain;
}
.firstSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: start; */
  padding: 10rem 5rem 0rem;
  /* padding-top: 5rem; */
}
.leftSection {
  width: 40%;
  margin: 50px 0;
}
.socialIcons > a {
  padding: 0rem 0.25rem;
  font-size: 1.5rem;
}
#intro {
  font-size: 3rem;
}
.leftSection > h4 {
  text-transform: uppercase;
}
.firstSection > .rightSection {
  width: 40%;
  align-items: center;
}

/* ---------------resume button--------- */
.btn {
  width: 6rem;
  border-radius: 50px;
  padding: 5px 4px;
  border: solid #3448ff 2px;
  color: #3448ff;
}
.btn:hover {
  background-color: #3448ff;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 4px 4px;
}
/* ---------Education------------- */

#educationList > ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 5vh 5vw;
}
.eduList {
  border: 1px solid black;
  margin: 1rem 2rem;
  border-radius: 1rem;
  padding: 1em 1em;
  background-color: #ffffff;
  box-shadow: 5px 5px 2.5px hsl(224 89% 75%);
  list-style: none;
}
/* ----------Skills------------ */
.skillContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  /* flex: 1 1 50%; */
  margin: 5vh 20vw;
  cursor: pointer;
}
.techSkill:hover {
  box-shadow: 0px 0px 5px 5px #3448ff;
  /* background-color: #3448ff; */
  transform: scale(1.05);
  transition: all 0.2s ease;
}
.techSkill {
  /* width: 10rem; */
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-align: center;
  padding: 0.5rem;
}
.tech {
  font-size: 3rem;
  padding: 10px;
}

/* --------------single property-------- */

.title-name {
  color: #3448ff;
}
.title {
  text-align: center;
}
/* .eduContent {
  list-style: none;
} */

/* --------CONTACT---------- */
#Contact {
  height: 90vh;
}
/* --------------form------------ */
form {
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.form-div {
  margin-bottom: 0.5rem;
  display: block;
  align-items: center;
  justify-content: center;
}
.form-div > label {
  font-size: 1rem;
  font-weight: 500;
}
input {
  background-color: hsl(0, 1%, 80%);
  border: solid hsl(0, 0%, 28%);
  color: rgb(105, 104, 104);
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.form-button {
  margin: 0.5rem;
  color: #ffffff;
  background-color: #3448ff;
  padding: 0.1rem;
  border-radius: 10px;
  width: 6rem;
  align-self: center;
}
.form-button:hover {
  background-color: #1c2fd7;
}
/* -----------footer--------- */
.footer {
  background-color: lightslategray;
  height: 10vh;
  display: inline;
  justify-content: center;
  align-items: center;
}
/* -------------mobile view------------- */
@media (max-width: 768px) {
  .firstSection {
    flex-direction: column-reverse;
    padding: 0rem 2rem;
  }
  .leftSection {
    width: 100%;
    margin: 0;
  }
  .rightSection {
    width: 100%;
    margin: 0;
  }
  #nav-bar > ul > li {
    padding: 0rem 1rem;
    margin: 0.5rem;
  }
}
